div.threeview {
  height: 380px;
  /* width: 450px; */
  border: 1px solid lightgray;
  border-radius: 6px;
  margin-bottom: 5px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

p.message {
  font-size: 16px;
  font-weight: bold;
  color: lightgray;
  margin-left: 15px;
  margin-top: 20px;
}
