.action button {
  width: 100%;
  background-color: #dddddd;
  border: 1px solid dimgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .action button:hover {
  background-color: #ebe4e4;
  border-color: dimgrey;
  font-weight: bold;
} */

.enterfield label {
  font-size: 14px;
}

.enterfield input {
  margin-left: 5px;
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 5px;
  max-width: 200px;
  width: 200px;
}

.enterfield select {
  max-width: 200px;
  margin-left: 5px;
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 2px;
  margin-bottom: 5px;
}

.footer button.submit {
  width: 100%;
  background-color: #3e9156;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-weight: 800;
}

/* .footer button.submit:hover {
  background-color: #298e46;
} */

.footer button.cancel {
  width: 100%;
  background-color: #a4a3a7;
  border: none;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  font-weight: 800;
}

/* .footer button.cancel:hover {
  background-color: #9b999d;
} */

.example p {
  font-size: 12px;
  color: dimgray;
  margin-top: 1px;
  margin-bottom: 1px;
}

p.error {
  font-size: 12px;
  color: red;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-left: 0px;
  font-weight: bold;
}
