.action button {
  width: 100%;
  background-color: #dddddd;
  /* border: 1px solid #eeeeee; */
  border: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1px;
  cursor: pointer;
  /* font-weight: 600; */
  font-size: 12px;
}

.action button:hover {
  /* background-color: #ebe4e4;
  border-color: dimgrey;
  font-weight: bold; */
  background-color: lightgray;
}
