.action button {
  width: 100%;
  background-color: #dddddd;
  border: 1px solid dimgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
}

.action button:hover {
  background-color: lightgray;
}

.position {
  display: flex;
  align-items: center;
}

.position label {
  font-size: 14px;
  margin-right: 5px;
}

.position input {
  margin-left: auto;
  width: 180px;
  text-align: left;
  font-size: 13px;
  border-radius: 3px;
  line-height: 1.5;
  padding: 5px 10px;
  border: 1px solid gray;
  color: rgb(14, 14, 16);
  background-color: whitesmoke;
  height: 12px;
  margin-bottom: 5px;
}

p.error {
  font-size: 12px;
  color: red;
  margin-top: 1px;
  margin-bottom: 3px;
  margin-left: 0px;
  font-weight: bold;
}
