.action button {
  width: 100%;
  background-color: #dddddd;
  border: 1px solid dimgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 5px;
}

.action button:hover {
  background-color: lightgray;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.option label {
  font-size: 14px;
}

.option select {
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 3px;
  margin-left: auto;
}

.gradient {
  width: 100%;
  white-space: nowrap;
  position: relative;
  display: inline-block;
  top: 4px;
  padding-bottom: 15px;
  margin-bottom: 4px;
}

.grad-step {
  display: inline-block;
  height: 20px;
  width: 1%;
}

.gradient .domain-min {
  position: absolute;
  left: 0;
  font-size: 12px;
  bottom: 3px;
}

.gradient .domain-med {
  position: absolute;
  right: 25%;
  left: 25%;
  text-align: center;
  font-size: 12px;
  bottom: 3px;
}

.gradient .domain-max {
  position: absolute;
  right: 0;
  font-size: 12px;
  bottom: 3px;
}

p.error {
  font-size: 12px;
  color: red;
  margin-top: 1px;
  margin-bottom: 3px;
  margin-left: 0px;
  font-weight: bold;
}
