.action button {
  width: 100%;
  background-color: #dddddd;
  border: 1px solid #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: 500;
}

/* .action button:hover {
  background-color: #ebe4e4;
  border-color: dimgrey;
  font-weight: bold;
} */

.action label {
  font-size: 14px;
}

.action input {
  max-width: 200px;
  margin-left: 5px;
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 5px;
}

.action label.textinput {
  display: block;
}

.action textarea {
  font-size: 11px;
  padding: 6px;
  max-width: 100%;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
