ul.serverlist {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
}

.serverlist li {
  margin-top: 5px;
  color: darkgreen;
}

.serverlist input {
  width: 200px;
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 3px;
}

p.message {
  font-size: 14px;
  color: dimgray;
  font-weight: 500;
}

.serverlist button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 3px;
}

.serverlist button:hover {
  background-color: #ebe4e4;
}

.error p {
  font-size: 12px;
  color: red;
  margin-top: 2px;
  margin-left: 5px;
}

.example p {
  font-size: 12px;
  color: dimgray;
  margin-top: 1px;
  margin-bottom: 1px;
}
