body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Overpass", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button, input, select {
  font-family: 'Overpass', sans-serif;
}

/* button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

.content {
  display: flex;
}

.content-item {
  /* height: 400px; */
  display: block;
  float: left;
  /* border: 1px solid #EEEEEE; */
  /* border-radius: 10px; */
  width: 350px;
  margin-right: 10px;
  margin-top: 10px;
}

.control-section {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 5px;
  padding: 5px;
}

.main {
  position: absolute;
  left: 330px;
}