div.whole {
  display: flex;
  padding-left: 3px;
}

button.btnOn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  font-size: 18px;
  margin: auto;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  /* font-weight: bold; */
  /* line-height: 1.5; */
}

button.btnOff {
  background-color: lightgray;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: auto;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  /* line-height: 1.5; */
}

button.nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  /* line-height: 1.5; */
  border-radius: 3px;
  margin: 2px;
  font-size: 14px;
  padding: 2px;
}

button.nav:hover {
  background-color: lightgray;
}

div.chrom {
  /* background-color: #dee1e2; */
  /* margin-right: 5px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.chrom span {
  padding: 2px;
  font-weight: bold;
  font-size: 14px;
}

.chrom select {
  border: 1px solid gray;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: gray;
  width: 100px;
  height: 25px;
  background-color: #dee1e2;
}
